body {
    background-image: url("Background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.Home {
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Times New Roman';
    padding: 1%;
    position: absolute;
    top: 30px;
    left: 30px;
    white-space: nowrap;
    color: rgb(255, 255, 255);
}

.Center {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    text-align: center;
}

.Button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

p {
    display: inline;
    margin: 0;
}